{% extends "admin/base.html" %}
{% load static i18n %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block title %}{{ title }} | {% trans "Systemverwaltung" %}{% endblock %}

{% block branding %}
<div class="header">
    <h1><a href="{% url 'admin:index' %}">{% trans "Systemverwaltung" %}</a></h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <div class="feedback-module">
            <a href="{% url 'feedback_overview' %}">{% trans "Zur Feedback-Übersicht" %}</a>
        </div>
    </div>
    <div class="main-content">
        {{ block.super }}
    </div>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="feedback-module">
        <a href="{% url 'feedback_overview' %}">{% trans "Zur Feedback-Übersicht" %}</a>
    </div>
    <p>{% trans "© 2024 Dein Unternehmen" %}</p>

</footer>
{% endblock %}
